<p>
  <strong>Amount:</strong>
  <%= @currency_pair.amount %>
</p>

<p>
  <strong>Target:</strong>
  <%= @currency_pair.target %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @currency_pair.duration %>
</p>

<%= link_to 'Edit', edit_currency_pair_path(@currency_pair) %> |
<%= link_to 'Back', currency_pairs_path %>
